* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #efeff5;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

#logo-img {
  width: 350px;
  height: auto;
}

#stern-section {
  margin: 50px 0px 0px 0px;
}

h1 {
  font-size: 45px !important;
}

h2 {
  font-size: 18px !important;
  font-family: Montserrat, Courier, monospace !important;
}

button {
  background-color: white;
}

button:hover {
  box-shadow: 3px 3px 7px black;
  transition: 200ms linear;
}

#logo-btn {
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  font-weight: bolder !important;
  background-color: white;
  color: #57068c;
}

#logo-btn:hover {
  background-color: #57068c;
  color: white;
}

#nyu-section {
  margin: 60px 0px 0px;
}

#vcl-btn {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  font-weight: bolder !important;
  background-color: white;
  color: #57068c;
}

#vcl-btn:hover {
  background-color: #57068c;
  color: white;
}

#contact-section {
  margin: 30px 0px 5px 0px;
}

#links-section {
  text-align: center;
  margin: 70px 0px 0px 0px;
}

a {
  color: #57068c !important;
}
